/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}
.ms_container{
    width: 70%;
    margin: 0 auto;
    padding: 2em 1em;
    background-color: white;
}